<%= render 'shared/breadcrumb', category: @post.category %>
<article class="post">
  <section class="post-head">
    <h1><%= @post.title %></h1>
    <small>
      <%= link_to @post.user.first_name, @post.user %><br>
      <time><%= @post.created_at.to_date.strftime("%d %B, %Y") %></time>

      <% if @post.category.present? %>

        <%= link_to @post.category.name, @post.category %>
      <% end %>

      <% if user_signed_in? %>
        <% if can? :update, @post %>
          |
          <%= link_to t('.edit'), edit_post_path(@post) %>
        <% end %>
        <% if can? :delete, @post %>
          |
          <%= link_to t('.delete'), post_path(@post), method: :delete, data: {confirm: t('.confirm')} %>
        <% end %>

      <% end %>
    </small>
  </section>

  <section class="post-body">
    <%= raw @post.description %>
  </section>
  <% if user_signed_in? %>
    <%= render partial: "comments/template", locals: {commentable: @post, new_comment: @comment} %>
  <% else %>
  <% end %>
</article>